snapshot/
scripts.py
*.so
*.zip
data_raw/
weights/
__pycache__/
build/
dump/
.idea/
/data
/models

/lib/benchmark.py
/lib/benchmark_utils.py
/lib/loss.py
/lib/ply.py
/lib/timer.py
/lib/utils.py
/lib/vis.py

/kernels
/common

*.ply
*.pcd
